@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Nunito+Sans:ital,wght@0,200;0,400;1,200;1,400&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Rubik:wght@400;500&family=Space+Mono&display=swap');

html {
  background: #202225;
  font-family: 'Raleway';
  font-weight: bold;
  color: white;
}

body {
  overflow-x: hidden;
}

.section-header {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

#wrapper {
  position: absolute;
  top: 40px;
  left: 0;
  filter: opacity(0%);
  transition: 0.5s ease-in-out;
  transform: translateY(50px);
}

form#test-form {
  margin: auto;
  padding: 20px;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  gap: 30px;
  width: 50%;
  background-color: #0007
}
.background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.sliding-background {
  background: url("https://i.imgur.com/yGY6rSV.png");
  height: 3840px;
  width: 3840px;
  right: 0px;
  background-repeat: repeat-x;
  animation: slide 2s linear infinite;
}

@keyframes slide{
  0% {
    transform: translate3d(-128px, 0, 0);
  }
  100% {
    transform: translate3d(0, -128px, 0);
  }
}

#wrong-time-window {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  font-weight: normal;
  text-align: center;
  padding: 0;
  margin: 0;
  filter: opacity(0%);
  font-size: 200%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#countdown {
  font-family: 'Major Mono Display';
  font-weight: 800;
  font-size: 300%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px
}

.countdown-text {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 10px;
}
img.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  width: 50%;
}

.form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

label {
  vertical-align: middle;
}

input[type="textarea"] {
  background-color: #40444b;
  height: 50px;
  overflow-y: hidden;
  border: 0;
  width: 90%;
  font-size: 16px;
  font-family: 'Raleway';
  font-weight: bold;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  color: white;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  resize: none;
}

input[type="textarea"]:focus {
  outline: none;
  transform: scale(1.05);
  box-shadow: 0 2px 10px #333333;
}

input[type="textarea"].empty {
    background: #FF6666;
}

input[type="textarea"].empty::placeholder {
      color: #FFBBBB;
}

#submit {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 25px;
  background-color: #151727;
  padding-left: 2%;
  height: 5rem;
  width: 60%;
  padding-right: 2%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  animation: rainbow 3s infinite;
}

button {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  font-family: 'Raleway';
  font-weight: bold;
  color: white;
  font-size: 200%;
}

#loading {
  position: absolute;
  visibility: hidden;
}

.closed {
  filter: opacity(0%);
  visibility: hidden;
}

@keyframes rainbow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.on-click {
  transform: scale(0.9);
  opacity: 0.8;
}