@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  background: #202225
}
body {
  filter: opacity(0%);
  transition: 0.5s ease-in-out;
  transform: translateY(50px);
}
.buttonContainer {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  height: 100px;
  align-items: center;
  gap: 30px;
}

.wrapper {
  overflow: hidden;
  height: 97.5vh;
  /* transform: scale(2); */
}

.sliding-background {
  background: url("https://i.imgur.com/yGY6rSV.png");
  height: 3840px;
  width: 3840px;
  right: 0px;
  background-repeat: repeat-x;
  animation: slide 5s linear infinite;
}
.elements {
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 0.5s ease-in-out;
}

button {
  border: 0;
  border-radius: 25px;
  background-color: #151727;
  padding-left: 2%;
  height: 100%;
  padding-right: 2%;
  font-family: 'Raleway';
  font-weight: bold;
  color: white;
  font-size: 200%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  animation: rainbow 3s infinite;
}

img.banner {
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  width: 50%;
}

button:hover {
  transform: translateY(10px);
  box-shadow: 0 5px 30px #07080D;
}

button:active {
  transform: scale(0.98) translateY(10px);
  transition: 0.1s
}

@keyframes slide{
  0% {
    transform: translate3d(-128px, 0, 0);
  }
  100% {
    transform: translate3d(0, -128px, 0);
  }
}


@keyframes rainbow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
