body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-container {
    margin-top: 50px;
    width: 80%;
    background-color: rgba(0,0,0,0.3);
    padding: 35px 10px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    backdrop-filter: blur(3px);
}

.list-container section h1 {
    font-size: 64px;
}

.player-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    font-weight: normal;
}

.profile {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    height: 200px;
    border-radius: 20px;
    min-width: 500px;
    padding: 10px;
    font-size: 12px;
    background-color: #333333;
    /* height: 200px; */
    transition: 0.2s ease-in-out;
    cursor: pointer;
}


.profile .user {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 125%;
}

.profile .user .name {
    font-weight: bold;
}

.profile .user .rank {
    margin-top: -3px;
    font-size: 85%;
}

.profile .user img {
    border-radius: 25px;
    width: 105px;
    height: 105px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
}

.profile .description {
    width: 75%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.profile .description .quote {
    display: relative;
    font-size: 130%;
    height: 100px;
    overflow-y: scroll;
    display: grid;
    align-items: center;
    grid-auto-flow: column;
}

.profile .description b {
    font-size: 130%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section, section div {
    text-align: center;
}

.stats div {
    text-align: left;
}

.profile:hover {
    transform: scale(1.025);
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.seed {
    position: absolute;
    top: 10;
    left: 10;
}